.vscode/launch.json
.vscode/tasks.json
HelloWorld/main.exe
Ontwikkelbord/dump.bin
Ontwikkelbord/Error.log
Ontwikkelbord/main.lst
Ontwikkelbord/main.obj
Ontwikkelbord/main.rlf
Ontwikkelbord/Projectmain.cod
Ontwikkelbord/Projectmain.cof
Ontwikkelbord/Projectmain.hex
Ontwikkelbord/Projectmain.map
Ontwikkelbord/Projectmain.sym
Python/Config.ini
Python/__pycache__/GetData.cpython-38.pyc
Python/__pycache__/LoadConfiguration.cpython-37.pyc
Python/__pycache__/LoadConfiguration.cpython-38.pyc
Python/__pycache__/SendSocketData.cpython-37.pyc
Python/__pycache__/SendSocketData.cpython-38.pyc
SimpleTcpServer/.vscode/launch.json
SimpleTcpServer/.vscode/tasks.json
SimpleTcpServer/bin/Debug/netcoreapp3.1/SimpleTcpServer.deps.json
SimpleTcpServer/bin/Debug/netcoreapp3.1/SimpleTcpServer.dll
SimpleTcpServer/bin/Debug/netcoreapp3.1/SimpleTcpServer.exe
SimpleTcpServer/bin/Debug/netcoreapp3.1/SimpleTcpServer.pdb
SimpleTcpServer/bin/Debug/netcoreapp3.1/SimpleTcpServer.runtimeconfig.dev.json
SimpleTcpServer/bin/Debug/netcoreapp3.1/SimpleTcpServer.runtimeconfig.json
SimpleTcpServer/obj/project.assets.json
SimpleTcpServer/obj/project.nuget.cache
SimpleTcpServer/obj/SimpleTcpServer.csproj.nuget.dgspec.json
SimpleTcpServer/obj/SimpleTcpServer.csproj.nuget.g.props
SimpleTcpServer/obj/SimpleTcpServer.csproj.nuget.g.targets
SimpleTcpServer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.AssemblyInfo.cs
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.AssemblyInfoInputs.cache
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.assets.cache
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.csproj.CoreCompileInputs.cache
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.csproj.FileListAbsolute.txt
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.csprojAssemblyReference.cache
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.dll
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.exe
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.genruntimeconfig.cache
SimpleTcpServer/obj/Debug/netcoreapp3.1/SimpleTcpServer.pdb
